body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f9fa;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.register {
    min-height: 100vh;

  }

.form-signup {
max-width: 330px;
padding: 1rem;
}


.left {
direction: ltr;
}

.form-signup .form-floating:focus-within {
z-index: 2;
}

.form-signup input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.form-signup input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.label{
color:black;
text-decoration-color: aquamarine;
}

.login{
min-height: 100vh;
}
.login-container {
    max-width: 330px;
    padding: 1rem;

}


.left{
    direction: ltr;
}

.login-container .form-floating:focus-within {
    z-index: 2;
}

.login-container input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-container input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.item-center{
    right: 0;
    left: 0;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
